<div class="content">
  <div class="container-fluid top-extra-pads">
    <div class="row align-items-center">
      <div class="col-md-4 ml-auto">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Login</h4>
            <p class="card-category">i am an existing user</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-11">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email address</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-11">
                  <div class="form-group">
                    <label class="bmd-label-floating">Password</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row top-extra-pads">
                <button type="submit" class="btn btn-info align-self-center">Login</button>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="vr d-none d-md-block"></div>
      <div class="hr d-block d-xs-block d-sm-block d-md-none"></div>
      <div class="col-md-5 mr-auto">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title text-right">Create Profile</h4>
            <p class="card-category text-right">i am a new user</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Fist Name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Last Name</label>
                    <input type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Email address</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Password</label>
                    <input type="password" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row top-extra-pads">
                <button type="submit" class="btn btn-danger ml-auto">Create</button>
                <div class="clearfix"></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
