<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-4" *ngFor="let list of myList;let listIndex = index">
      <div class="card">
        <div class="card-header card-header-tabs " ngClass="{{ 'card-header-' + colors[(listIndex+list.title.substring(-1,1).charCodeAt(0))%6] }}">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <span class="nav-tabs-title font-weight-bold" >{{list.title}}</span>
              <ul class="nav nav-tabs float-right" data-tabs="tabs">
                <li class="nav-item" rel="tooltip" title="Toggle Pending">
                  <a class="nav-link" href="#" data-toggle="tab" (click)="wpend[listIndex]=!wpend[listIndex]">
                    <i class="material-icons" [innerText]="wpend[listIndex] ? 'view_list' : 'line_style'"></i>
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item" rel="tooltip" title="Delete">
                  <a class="nav-link" href="#" data-toggle="modal" data-target="#confirm-delete">
                    <i class="material-icons">delete</i>
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="profile" >
              <table class="table table-sm">
                <tbody>
                  <tr>
                    <td>
                    </td>
                    <td>
                        <input class="form-control no-border" type="text" placeholder=".. enter new task .." [(ngModel)]="newItem[listIndex]" (keyup)="$event.key === 'Enter'? addItemToList(listIndex): true">
                    </td>
                    <td class="td-actions float-right">
                      <button type="button" class="btn btn-info btn-link btn-sm" (click)="addItemToList(listIndex)">
                        <i class="material-icons">add</i>
                      </button>
                    </td>
                  </tr>
                  <ng-container *ngFor="let item of list.content; let contentIndex = index">
                    <tr *ngIf="(wpend[listIndex] != false && item.status == false) || !wpend[listIndex]">
                      <td>
                        <div class="form-check">
                          <label class="form-check-label align-top">
                            <input class="form-check-input " type="checkbox" value="" [(ngModel)]="item.status">
                            <span class="form-check-sign">
                              <span class="check"></span>
                            </span>
                          </label>
                        </div>
                      </td>
                      <td>
                          <textarea rows="2" class="form-control no-border align-content-center" [class.strike]="item.status" [(ngModel)]="item.text" wrap="soft"></textarea>
                      </td>
                      <td class="td-actions float-right">
                        <button type="button" class="btn btn-danger btn-link btn-sm" (click)="delItemInList(listIndex, contentIndex)">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> {{list.lastupd | timeAgo }}
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>

<!-- DELETE CONFIRM MODEL -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              Are you sure you want to delete?
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-round" data-dismiss="modal" >Cancel</button>
              <a class="btn btn-danger btn-round" (click)="delList(listIndex)" data-dismiss="modal">Delete
                <div class="ripple-container"></div>
              </a>
          </div>
      </div>
  </div>
</div>

<!-- NEW LIST MODAL -->
<div class="modal fade" id="new-list" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-newheader col-md-11">
              <input class="form-control no-border" placeholder="Title..." type="text" [(ngModel)]="newList.title">
          </div>
          <div class="modal-body">
              <table class="table table-sm">
                <tbody>
                    <tr>
                      <td>
                      </td>
                      <td>
                          <input class="form-control no-border" type="text" placeholder=".. enter new task .." [(ngModel)]="newListItem" (keyup)="$event.key === 'Enter'? addItemToList(): true">
                      </td>
                      <td class="td-actions float-right">
                        <button type="button" rel="tooltip" title="Add" class="btn btn-info btn-link btn-sm" (click)="addItemToList()" id="newListItemBtn">
                          <i class="material-icons">add</i>
                        </button>
                      </td>
                    </tr>
                    <ng-container *ngIf="newList.title !='' ">
                      <tr *ngFor="let item of newList.content">
                        <td>
                          <div class="form-check">
                            <label class="form-check-label align-top">
                              <input class="form-check-input " type="checkbox" value="" [(ngModel)]="item.status">
                              <span class="form-check-sign">
                                <span class="check"></span>
                              </span>
                            </label>
                          </div>
                        </td>
                        <td>
                            <textarea rows="2" class="form-control no-border align-content-center" [(ngModel)]="item.text" wrap="soft"></textarea>
                        </td>
                        <td class="td-actions float-right">
                          <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-link btn-sm" (click)="delItem($event)">
                            <i class="material-icons">close</i>
                          </button>
                        </td>
                      </tr>
                    </ng-container>
                  </tbody>
              </table>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-round" data-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-info btn-round" (click)="addList()" data-dismiss="modal">Save</button>
          </div>
      </div>
  </div>
</div>