<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-light font-weight-bold">About</h4>
          <p class="text-light">Welcome to my first APP using material design (bootstrap) and MEAN stack(Angular,
            Express, NodeJS, MongoDB).</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">ashish@bagaddeo.com</a></li>
            <!-- <li><a href="#" class="text-white">Like on Facebook</a></li> -->
            <!-- <li><a href="#" class="text-white">Email me</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm ">
    <div class="container">
      <a href="#" class="navbar-brand">
        <i class="material-icons">dashboard </i>
        <strong> ToDO </strong>
      </a>
      <!-- <li class="nav-item active"> -->
        <a class="btn btn-danger btn-sm btn-round" href="#" data-toggle="modal" data-target="#new-list" *ngIf="curUser && curUser!==''">
          <i class="material-icons">add </i>
          <strong> New List </strong> <span class="sr-only">(current)</span>
        </a>
      <!-- </li> -->
      <ul class="navbar-nav d-flex flex-row">
        <li class="nav-item" *ngIf="curUser==='' || !curUser">
          <button class="btn btn-info btn-round btn-sm" href="#" routerLink="/login">
            <strong> Login </strong> <span class="sr-only">(current)</span>
          </button>
        </li>
        <li class="nav-item" *ngIf="curuser && curUser!==''">
          <button class="btn btn-info btn-round btn-sm" href="#" routerLink="/login">
            <strong> Logout </strong> <span class="sr-only">(current)</span>
          </button>
        </li>
        <li class="nav-item">
          <button class="navbar-toggler btn btn-primary btn-round btn-sm" type="button" data-toggle="collapse"
            data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <strong> About </strong> <span class="sr-only">(current)</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
